In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from datetime import date, timedelta

In [2]:
from utils import *

            value
date
2024-04-22     20
2024-04-24     30
Empty DataFrame
Columns: [value]
Index: []

In [3]:
data = pd.read_csv('clean.csv')

In [4]:
data

                     date     AQI   latitude  longitude
0     2023-04-01 00:00:00  45.765  27.889417  71.375264
1     2023-04-01 01:00:00  46.520  27.889417  71.375264
2     2023-04-01 02:00:00  47.640  27.889417  71.375264
3     2023-04-01 03:00:00  49.330  27.889417  71.375264
4     2023-04-01 04:00:00  51.210  27.889417  71.375264
...                   ...     ...        ...        ...
9236  2024-04-19 20:00:00  64.075  27.889417  71.375264
9237  2024-04-19 21:00:00  64.950  27.889417  71.375264
9238  2024-04-19 22:00:00  63.735  27.889417  71.375264
9239  2024-04-19 23:00:00  61.845  27.889417  71.375264
9240  2024-04-20 00:00:00  60.765  27.889417  71.375264

[9241 rows x 4 columns]

In [5]:
today=get_today_date()
pd.to_datetime(today)

Timestamp('2024-04-24 00:00:00')

In [23]:
today = date.today()
last_week = today - timedelta(days = 7)
dates = [last_week + timedelta(days=i) for i in range(7)]
string_format = "%Y-%m-%d"
# Convert dates to strings using list comprehension
next_week_strings = [date.strftime(string_format) for date in dates]

In [24]:
days_dt = [pd.to_datetime(date) for date in next_week_strings]
days_dt

[Timestamp('2024-04-17 00:00:00'),
 Timestamp('2024-04-18 00:00:00'),
 Timestamp('2024-04-19 00:00:00'),
 Timestamp('2024-04-20 00:00:00'),
 Timestamp('2024-04-21 00:00:00'),
 Timestamp('2024-04-22 00:00:00'),
 Timestamp('2024-04-23 00:00:00')]

In [25]:
def create_hourly_increments(date):
  return pd.date_range(start=date, periods=24, freq='H')

In [26]:
hourly_dataframes = []
for date in days_dt:
    hourly_df = pd.DataFrame({'date': create_hourly_increments(date)}) 
    hourly_dataframes.append(hourly_df)

# Concatenate all DataFrames into a single DataFrame
all_hours_df = pd.concat(hourly_dataframes, ignore_index=True)

C:\Users\timmy\AppData\Local\Temp\ipykernel_25532\3052103098.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  return pd.date_range(start=date, periods=24, freq='H')

In [27]:
data

                     date     AQI   latitude  longitude
0     2023-04-01 00:00:00  45.765  27.889417  71.375264
1     2023-04-01 01:00:00  46.520  27.889417  71.375264
2     2023-04-01 02:00:00  47.640  27.889417  71.375264
3     2023-04-01 03:00:00  49.330  27.889417  71.375264
4     2023-04-01 04:00:00  51.210  27.889417  71.375264
...                   ...     ...        ...        ...
9236  2024-04-19 20:00:00  64.075  27.889417  71.375264
9237  2024-04-19 21:00:00  64.950  27.889417  71.375264
9238  2024-04-19 22:00:00  63.735  27.889417  71.375264
9239  2024-04-19 23:00:00  61.845  27.889417  71.375264
9240  2024-04-20 00:00:00  60.765  27.889417  71.375264

[9241 rows x 4 columns]

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9241 entries, 0 to 9240
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       9241 non-null   object
 1   AQI        9241 non-null   float64
 2   latitude   9241 non-null   float64
 3   longitude  9241 non-null   float64
dtypes: float64(3), object(1)
memory usage: 288.9+ KB

In [36]:
data[data['date'] > '2024-04-17 00:00:00']

                     date     AQI   latitude  longitude
9169  2024-04-17 01:00:00  54.995  27.889417  71.375264
9170  2024-04-17 02:00:00  54.990  27.889417  71.375264
9171  2024-04-17 03:00:00  56.955  27.889417  71.375264
9172  2024-04-17 04:00:00  59.580  27.889417  71.375264
9173  2024-04-17 05:00:00  62.900  27.889417  71.375264
...                   ...     ...        ...        ...
9236  2024-04-19 20:00:00  64.075  27.889417  71.375264
9237  2024-04-19 21:00:00  64.950  27.889417  71.375264
9238  2024-04-19 22:00:00  63.735  27.889417  71.375264
9239  2024-04-19 23:00:00  61.845  27.889417  71.375264
9240  2024-04-20 00:00:00  60.765  27.889417  71.375264

[72 rows x 4 columns]

In [34]:
all_hours_df

                   date
0   2024-04-17 00:00:00
1   2024-04-17 01:00:00
2   2024-04-17 02:00:00
3   2024-04-17 03:00:00
4   2024-04-17 04:00:00
..                  ...
163 2024-04-23 19:00:00
164 2024-04-23 20:00:00
165 2024-04-23 21:00:00
166 2024-04-23 22:00:00
167 2024-04-23 23:00:00

[168 rows x 1 columns]

In [31]:
data_ = data[data['date'].isin(all_hours_df['date'].astype(str).values.tolist())]
data_

                     date     AQI   latitude  longitude
9168  2024-04-17 00:00:00  55.730  27.889417  71.375264
9169  2024-04-17 01:00:00  54.995  27.889417  71.375264
9170  2024-04-17 02:00:00  54.990  27.889417  71.375264
9171  2024-04-17 03:00:00  56.955  27.889417  71.375264
9172  2024-04-17 04:00:00  59.580  27.889417  71.375264
...                   ...     ...        ...        ...
9236  2024-04-19 20:00:00  64.075  27.889417  71.375264
9237  2024-04-19 21:00:00  64.950  27.889417  71.375264
9238  2024-04-19 22:00:00  63.735  27.889417  71.375264
9239  2024-04-19 23:00:00  61.845  27.889417  71.375264
9240  2024-04-20 00:00:00  60.765  27.889417  71.375264

[73 rows x 4 columns]

In [22]:
today = date.today()
def past_week_model_data():
    last_week = today - timedelta(days = 14)
    dates = [last_week + timedelta(days=i) for i in range(14)]
    string_format = "%Y-%m-%d"
    # Convert dates to strings using list comprehension
    next_week_strings = [date.strftime(string_format) for date in dates]
    days_dt = [pd.to_datetime(date) for date in next_week_strings]

    # Create a list of DataFrames, each containing hourly increments for a date
    hourly_dataframes = []
    for date in days_dt:
        hourly_df = pd.DataFrame({'date': create_hourly_increments(date)}) 
        hourly_dataframes.append(hourly_df)

    # Concatenate all DataFrames into a single DataFrame
    all_hours_df = pd.concat(hourly_dataframes, ignore_index=True)  

    # now gwtting from the data
    data_ = data[data['date'].isin(all_hours_df['date'].astype(str).values.tolist())]
    return data_

data1 = past_week_model_data()
data1

C:\Users\timmy\AppData\Local\Temp\ipykernel_25532\3052103098.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  return pd.date_range(start=date, periods=24, freq='H')

                     date     AQI   latitude  longitude
9000  2024-04-10 00:00:00  36.545  27.889417  71.375264
9001  2024-04-10 01:00:00  38.265  27.889417  71.375264
9002  2024-04-10 02:00:00  39.665  27.889417  71.375264
9003  2024-04-10 03:00:00  40.495  27.889417  71.375264
9004  2024-04-10 04:00:00  44.060  27.889417  71.375264
...                   ...     ...        ...        ...
9236  2024-04-19 20:00:00  64.075  27.889417  71.375264
9237  2024-04-19 21:00:00  64.950  27.889417  71.375264
9238  2024-04-19 22:00:00  63.735  27.889417  71.375264
9239  2024-04-19 23:00:00  61.845  27.889417  71.375264
9240  2024-04-20 00:00:00  60.765  27.889417  71.375264

[241 rows x 4 columns]

In [70]:
def create_hourly_increments(date):

    return pd.date_range(date, periods=24, freq='H')
    
def get_date_data(df, date):
    df['date'] = pd.to_datetime(df['date'])
    # convert date to datetime
    date_dt = pd.to_datetime(date)
    # getting the hourly increments for the selected date
    hourly_df = pd.DataFrame({'date': create_hourly_increments(date)})
    data_ = df[df['date'].isin(hourly_df['date'].astype(str).values.tolist())]
    return data_

In [71]:
d = get_date_data(data, '2024-04-17')
d

C:\Users\timmy\AppData\Local\Temp\ipykernel_25532\1270768182.py:3: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  return pd.date_range(date, periods=24, freq='H')
C:\Users\timmy\AppData\Local\Temp\ipykernel_25532\1270768182.py:11: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  data_ = df[df['date'].isin(hourly_df['date'].astype(str).values.tolist())]

                    date     AQI   latitude  longitude
9168 2024-04-17 00:00:00  55.730  27.889417  71.375264
9169 2024-04-17 01:00:00  54.995  27.889417  71.375264
9170 2024-04-17 02:00:00  54.990  27.889417  71.375264
9171 2024-04-17 03:00:00  56.955  27.889417  71.375264
9172 2024-04-17 04:00:00  59.580  27.889417  71.375264
9173 2024-04-17 05:00:00  62.900  27.889417  71.375264
9174 2024-04-17 06:00:00  63.575  27.889417  71.375264
9175 2024-04-17 07:00:00  62.205  27.889417  71.375264
9176 2024-04-17 08:00:00  62.190  27.889417  71.375264
9177 2024-04-17 09:00:00  61.490  27.889417  71.375264
9178 2024-04-17 10:00:00  60.580  27.889417  71.375264
9179 2024-04-17 11:00:00  59.800  27.889417  71.375264
9180 2024-04-17 12:00:00  59.590  27.889417  71.375264
9181 2024-04-17 13:00:00  58.855  27.889417  71.375264
9182 2024-04-17 14:00:00  56.755  27.889417  71.375264
9183 2024-04-17 15:00:00  52.665  27.889417  71.375264
9184 2024-04-17 16:00:00  51.665  27.889417  71.375264
9185 2024-04-17 17:00:00  52.450  27.889417  71.375264
9186 2024-04-17 18:00:00  52.790  27.889417  71.375264
9187 2024-04-17 19:00:00  52.110  27.889417  71.375264
9188 2024-04-17 20:00:00  51.075  27.889417  71.375264
9189 2024-04-17 21:00:00  49.505  27.889417  71.375264
9190 2024-04-17 22:00:00  46.760  27.889417  71.375264
9191 2024-04-17 23:00:00  45.170  27.889417  71.375264